FinalProject\node_modules

FinalProject\.env

HandsOnTests\HOT1\node_modules
HandsOnTests\HOT1\.env
HandsOnTests/HOT1/.env
/HandsOnTests/HOT1/node_modules
FinalProject/.env
/FinalProject/node_modules
/node_modules
FinalProject/.env
FinalProject/.env
/FinalProject/node_modules
/HandsOnTests/HOT3/node_modules
